@import "../../../../styles/variables";

.listWrapper {
  width:          47%;
  padding:        0.75rem 34px 2rem;
  border-radius:  9px;
  display:        flex;
  flex-direction: column;
  .title {
    padding-left: 0.75rem;
    span {
      opacity:     1;
      margin-left: 1rem;
      font-weight: normal;
    }
  }
  .list {
    li {
      display:         inline-block;
      font-size:       20px;
      font-weight:     bold;
      line-height:     1.2;
      text-decoration: none;
      padding:         20px 10px;
      width:           100%;
      border-bottom:   2px solid rgba(0, 0, 0, 0.1);
    }
  }
  &.black {
    width:            47%;
    background-color: $blackColor;
    .title {
      color: $whiteColor;
      span {
        color: $whiteColor;
      }
    }
    .list {
      li {
        padding-left: 40px;
        position:     relative;
        color:        $whiteColor;
        &:not(:last-child) {
          border-bottom: 2px solid $mainColor;
        }
        &:before {
          content:         '';
          position:        absolute;
          background:      url("../../../../public/icons/check.svg") center center no-repeat;
          background-size: contain;
          width:           23px;
          height:          20px;
          z-index:         1;
          left:            0;
          top:             50%;
          transform:       translate(0, -50%);
        }
      }
    }
  }
  button {
    width:      100%;
    margin-top: auto;
  }
}


@media screen and (max-width: 768px) {
  .listWrapper {
    width:   100%;
    padding: 0.75rem 1rem;
    .title {
      border:          solid 2px $mainColor;
      border-radius:   5px;
      padding:         8px 32px 8px 8px;
      justify-content: space-between;
      display:         flex;
      align-items:     center;
      position:        relative;
      z-index:         1;
      margin-bottom:   0;
      &:after {
        content:       '';
        position:      absolute;
        z-index:       1;
        right:         0.75rem;
        top:           45%;
        transform:     translate(0, -50%) rotate(45deg);
        width:         0.5rem;
        height:        0.5rem;
        background:    transparent;
        border-right:  1px solid $blackColor;
        border-bottom: 1px solid $blackColor;
        opacity:       0.6;
      }
      &:active {
        opacity: .7;
      }
      &.show {
        &:after {
          top:       55%;
          transform: translate(0, -50%) rotate(-135deg);
        }
      }
    }
    .list {
      margin-bottom: 2rem;
      li {
        font-size: 1rem;
        padding:   10px 10px;
      }
    }
    &.black {
      width: 100%;
      .title {
        border: solid 2px transparent;
        &:after {
          border-right:  1px solid $whiteColor;
          border-bottom: 1px solid $whiteColor;
        }
      }
    }
  }
}