@import "../../../../styles/variables";

.listWrapper {
  width:          45%;
  padding:        0 34px 2rem;
  border-radius:  9px;
  display:        flex;
  flex-direction: column;
  .title {
    padding-left:  0.75rem;
    margin-bottom: 0.75rem;
    span {
      opacity:     1;
      margin-left: 1rem;
      font-weight: normal;
    }
  }
  .list {
    height:         100%;
    display:        flex;
    flex-direction: column;
    li {
      display:         flex;
      flex-direction:  column;
      font-size:       20px;
      font-weight:     bold;
      line-height:     1.2;
      text-decoration: none;
      padding:         17px 10px;
      width:           100%;
      &:not(:last-child) {
        border-bottom: 2px solid $whiteColor;
      }
      &.button {
        border-bottom: none;
        margin-top:    auto;
        border-bottom: none;
      }
    }
  }
  &.black {
    width:            54%;
    background-color: $blackColor;
    padding:          2rem 3rem 1.5rem 2rem;
    .title {
      color:         $whiteColor;
      margin-bottom: 1.5rem;
      span {
        color: $whiteColor;
      }
    }
    .list {
      li {
        padding:  15px 10px 15px 40px;
        position: relative;
        color:    $whiteColor;
        &:not(:last-child) {
          border-bottom: 2px solid $mainColor;
        }
        &:before {
          content:         '';
          position:        absolute;
          background:      url("../../../../public/icons/check.svg") center center no-repeat;
          background-size: contain;
          width:           23px;
          height:          20px;
          z-index:         1;
          left:            0;
          top:             50%;
          transform:       translate(0, -50%);
        }
        &.button:before {
          display: none;
        }
      }
    }
  }
  button {
    width:      100%;
    margin-top: auto;
  }
  &.plans {
    width:   41%;
    padding: 2rem 0 1.5rem 0;
  }
}


@media screen and (max-width: 900px) {
  .listWrapper {
    width:   100%;
    padding: 0.75rem 1rem;
    .title {
      border:          solid 2px $mainColor;
      border-radius:   5px;
      padding:         12px 52px 12px 14px;
      justify-content: space-between;
      display:         flex;
      align-items:     center;
      position:        relative;
      z-index:         1;
      margin-bottom:   2rem;
      &:after {
        content:       '';
        position:      absolute;
        z-index:       1;
        right:         0.75rem;
        top:           45%;
        transform:     translate(0, -50%) rotate(45deg);
        width:         0.5rem;
        height:        0.5rem;
        background:    transparent;
        border-right:  1px solid $blackColor;
        border-bottom: 1px solid $blackColor;
        opacity:       0.6;
      }
      &:active {
        opacity: .7;
      }
      &.show {
        &:after {
          top:       55%;
          transform: translate(0, -50%) rotate(-135deg);
        }
      }
    }
    .list {
      margin-bottom: 0;
      padding:       0 1.75rem;
      li {
        font-size:   1rem;
        padding:     12px 0;
        line-height: 1.32;
      }
    }
    &.black {
      width:         100%;
      padding:       0.75rem 1rem;
      margin-bottom: 1.5rem;
      .title {
        border:        solid 2px transparent;
        margin-bottom: 0;
        padding:       0 36px 0 2px;
        &:after {
          border-right:  1px solid $whiteColor;
          border-bottom: 1px solid $whiteColor;
        }
      }
      .list {
        padding: 0;
      }
    }
    &.plans {
      width:   100%;
      padding: 2rem 0 1.5rem 0;
      .title {
        margin-bottom: 0;
      }
    }
  }
}