@import "../../../../styles/variables";

.popup {
  background: rgba(0, 0, 0, 0.6);
  position:   fixed;
  z-index:    10;
  left:       0;
  top:        0;
  width:      100%;
  height:     100%;
  overflow:   auto;
  .close {
    position: absolute;
    z-index:  1;
    right:    1rem;
    top:      1rem;
    width:    2rem;
    height:   2rem;
    cursor:   pointer;
    &:before, &:after {
      content:          '';
      position:         absolute;
      z-index:          1;
      width:            85%;
      height:           2px;
      transform:        rotate(45deg) translate(-50%, 0%);
      transform-origin: left;
      background:       $mainColor;
      left:             50%;
      top:              50%;
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, 0%);
    }
    &:hover, &:active {
      opacity: .7;
    }
  }
  .popupInner {
    padding:         54px 6.5% 6.5% 5.5%;
    margin:          7.75% auto 1rem auto;
    display:         flex;
    flex-wrap:       wrap;
    justify-content: space-between;
    width:           99%;
    max-width:       649px;
    position:        relative;
    z-index:         1;
    box-shadow:      0 4px 20px 0 rgba(0, 0, 0, 0.2);
    background:      #f2f1ed;
  }
  &.register {
    .close {
      right: 4rem;
      top:   4rem;
    }
    .popupInner {
      padding: 86px 3% 8.5% 3%;
    }
  }
  &.premium {
    .close {
      right: 3rem;
      top:   2.5rem;
    }
    .popupInner {
      padding: 121px 6% 8.5% 4%;
    }
  }
  &.plans {
    h1 {
      margin-bottom: 12px;
    }
    .close {
      right: 4rem;
      top:   2.5rem;
    }
    .popupInner {
      padding: 28px 3% 6.5% 7.5%;
    }
  }
  &.payment {
    h1 {
      margin-bottom: 28px;
    }
    .close {
      right: 3rem;
      top:   4rem;
    }
    .popupInner {
      padding: 146px 3% 6.5% 3%;
    }
  }
}

@media screen and (max-width: 567px) {
  .popup {
    .close {
      &:before, &:after {
        width: 65%;
      }
    }
    &.register {
      .close {
        right: 1rem;
        top:   1rem;
      }
      .popupInner {
        padding: 67px 3% 8.5% 3%;
      }
    }
    &.premium {
      .close {
        right: 1rem;
        top:   1rem;
      }
      .popupInner {
        padding: 80px 6% 8.5% 6%;
      }
    }
    &.plans {
      .close {
        right: 1rem;
        top:   1rem;
      }
      .popupInner {
        padding: 74px 6% 8.5% 6%;
      }
    }
    &.payment {
      .close {
        right: 1rem;
        top:   1rem;
      }
      .popupInner {
        padding: 80px 6% 8.5% 6%;
      }
    }
  }
}