@import "../../styles/variables";

.productItem {
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  padding:         1rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  p, h6 {
    margin-bottom: 0;
    margin-left:   0.5rem;
    width:         30%;
  }
  h6 {
    margin-left: 7%;
    width:       40%;
  }
  p {
    color: rgba(0, 0, 0, 0.4);
  }
  .price {
    font-weight: 500;
    color:       $mainColor;
    max-width:   100px;
    text-align:  right;
  }
  .image {
    max-height: 32px;
    width:      54px;
    img {
      width:      100%;
      height:     100%;
      object-fit: contain;
    }
  }
  .description {
    width:           100%;
    display:         flex;
    flex-wrap:       wrap;
    align-items:     center;
    justify-content: space-between;
  }
}


@media screen and (max-width: 786px) {
  .productItem {
    h6, p {
      width:        100%;
      margin:       0 0 1rem 0;
      font-size:    1rem;
      padding-left: 1rem;
    }
    p {
      width:        48%;
      margin:       0;
      padding-left: 1rem;
    }
    .image {
      max-height: 80px;
      width:      160px;
    }
  }
}
