@import "../../../styles/variables";

.popup {
  background: rgba(0, 0, 0, 0.6);
  position:   fixed;
  z-index:    10;
  left:       0;
  top:        0;
  width:      100%;
  height:     100%;
  overflow:   auto;
  .close {
    position: absolute;
    z-index:  1;
    right:    1rem;
    top:      1rem;
    width:    2rem;
    height:   2rem;
    cursor:   pointer;
    &:before, &:after {
      content:          '';
      position:         absolute;
      z-index:          1;
      width:            85%;
      height:           2px;
      transform:        rotate(45deg) translate(-50%, 0%);
      transform-origin: left;
      background:       $mainColor;
      left:             50%;
      top:              50%;
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, 0%);
    }
    &:hover, &:active {
      opacity: .7;
    }
  }
  .popupInner {
    padding:         4% 5.5% 6.5% 5.75%;
    margin:          7.75% auto 1rem auto;
    display:         flex;
    align-items:     flex-start;
    justify-content: space-between;
    width:           99%;
    max-width:       649px;
    position:        relative;
    z-index:         1;
    box-shadow:      0 4px 20px 0 rgba(0, 0, 0, 0.2);
    background:      #f2f1ed;
  }
  .popupRight {
    width: 100%;
    .title {
      display:         flex;
      align-items:     center;
      justify-content: space-between;
      width:           100%;
    }
    h1 {
      margin-bottom: 2.5rem;
    }
    h3 {
      padding-left: 0.75rem;
      span {
        opacity:     0.5;
        font-weight: normal;
      }
    }
    .create {
      font-size:   20px;
      font-weight: bold;
      color:       $secondColor;
      cursor:      pointer;
      &:hover, &:active {
        opacity: .7;
      }
    }
    .continue {
      width:      100%;
      margin-top: 10px;
    }
    .signUp {
      text-align: center;
      padding:    1.25rem 0;
    }
    .buttons {
      display:         flex;
      justify-content: center;
      align-items:     center;
      button {
        border-radius: 0.5rem;
        border:        solid 2px $secondColor;
        display:       flex;
        align-items:   center;
      }
      .facebook, .google {
        i {
          padding: 0.75rem 1rem;
          &:before {
            color:     $secondColor;
            font-size: 18px;
          }
        }
        span {
          font-size:   20px;
          font-weight: bold;
          line-height: 1;
          text-align:  center;
          color:       $secondColor;
          border-left: solid 2px $secondColor;
          padding:     0.75rem 0;
          display:     inline-block;
          width:       117px;
        }
      }
      .facebook {
        margin-right: 2rem;
      }
    }
  }
}