@import "../../../styles/variables";

.popupRight {
  width: 100%;
  .title {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    width:           100%;
  }
  h1 {
    margin-bottom: 2.5rem;
  }
  h3 {
    padding-left: 0.75rem;
    span {
      opacity:     0.5;
      font-weight: normal;
    }
  }
  .create {
    font-size:   20px;
    font-weight: bold;
    color:       $secondColor;
    cursor:      pointer;
    &:hover, &:active {
      opacity: .7;
    }
  }
  .continue {
    width:      100%;
    margin-top: 10px;
  }
  .signUp {
    text-align: center;
    padding:    1.25rem 0;
  }
  .buttons {
    display:         flex;
    justify-content: center;
    align-items:     center;
    button {
      border-radius: 0.5rem;
      border:        solid 2px $secondColor;
      display:       flex;
      align-items:   center;
    }
    .facebook, .google {
      i {
        padding: 0.75rem 1rem;
        &:before {
          color:     $secondColor;
          font-size: 18px;
        }
      }
      span {
        font-size:   20px;
        font-weight: bold;
        line-height: 1;
        text-align:  center;
        color:       $secondColor;
        border-left: solid 2px $secondColor;
        padding:     0.75rem 0;
        display:     inline-block;
        width:       117px;
      }
    }
    .facebook {
      margin-right: 2rem;
    }
  }
}