@import "../../styles/variables";

.filterItem {
  margin-bottom: 0.75rem;
  h6 {
    color: $mainColor;
  }
  ul {
    display:     flex;
    flex-wrap:   wrap;
    align-items: center;
    li {
      margin-right:  0.75rem;
      margin-bottom: 0.5rem;
      border:        solid 1px $blackColor;
      padding:       0.5rem 1rem;
      font-size:     14px;
      font-weight:   bold;
      cursor:        pointer;
      transition:    .3s linear;
      min-width:     50px;
      text-align:    center;
      &.active, &:hover, &:active {
        background: $blackColor;
        color:      $whiteColor;
      }
      &:active {
        opacity: .7;
      }
    }
  }
  a {
    font-size:   14px;
    font-weight: normal;
  }
}
