@import "../../../styles/variables";

.popupLeft {
  width:       41.5%;
  padding-top: 0.75rem;
  li {
    display:         inline-block;
    font-size:       20px;
    font-weight:     bold;
    line-height:     0.7;
    text-decoration: none;
    padding:         20px 10px;
    border-bottom:   2px solid $whiteColor;
    width: 100%;
  }
}

.popupRight {
  width:         49%;
  padding-right: 5%;
  h1 {
    margin-bottom: 0.875rem;
  }
  h3 {
    padding-left: 0.75rem;
    span {
      opacity:     0.5;
      font-weight: normal;
    }
  }
  .continue {
    width: 100%;
  }
  .signUp {
    text-align: center;
    padding:    1rem 0;
  }
  .buttons {
    display:         flex;
    justify-content: center;
    align-items:     center;
    button {
      border-radius: 0.5rem;
      border:        solid 2px #345dee;
      display:       flex;
      align-items:   center;
    }
    .facebook, .google {
      i {
        padding: 0.75rem 1rem;
        &:before {
          color:     #345dee;
          font-size: 18px;
        }
      }
      span {
        font-size:   20px;
        font-weight: bold;
        line-height: 1;
        text-align:  center;
        color:       #345dee;
        border-left: solid 2px #345dee;
        padding:     0.75rem 0;
        display:     inline-block;
        width:       117px;
      }
    }
    .facebook {
      margin-right: 2rem;
    }
  }
}