@import "./variables";

.account {
  padding: 71px 86px 40px 86px;
  flex:    1 0 auto;
  .container {
    padding: 0 15px;
  }
  .content {
    margin: 0 auto;
    .title {
      margin-bottom: 11px;
      h1 {
        font-size:   50px;
        font-weight: bold;
        line-height: 1.21;
        color:       #000;
      }
    }
  }
  .products {
    max-width: 726px;
  }
  .infoSelling {
    max-width: 619px;
    margin:    0 auto;
    height:    100%;
    h3, a {
      font-size:   30px;
      line-height: 1.55;
      text-align:  center;
      color:       #000000;
      font-weight: 400;
      a {
        color:           #ff9200;
        font-weight:     bold;
        text-decoration: underline;
      }
    }
  }
  .listSelling {
    max-width: 354px;
    .listItem {
      border-radius:   9px;
      border:          solid 2px rgba(0, 0, 0, 0.2);
      display:         flex;
      align-items:     center;
      justify-content: space-between;
      padding:         1rem;
      margin-bottom:   11px;
      .image {
        width: 30%;
      }
      .description {
        width: 65%;
      }
      .itemInfo {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .account {
    padding: 71px 0;
    .infoSelling {
      max-width: 560px;
      h3, a {
        font-size: 26px;
      }
    }
  }

}

@media screen and (max-width: 567px) {
  .account {
    .content {
      .title {
        text-align: center;
      }
    }
    .infoSelling {
      max-width: 400px;
      padding:   70px 0 0;
      h3, a {
        font-size: 20px;
      }
    }
  }
}