@import "./variables";

.account {
  padding: 55px 86px 40px 86px;
  flex:    1 0 auto;
  .container {
    padding: 0 15px;
  }
  .content {
    margin: 0 auto;
    h1 {
      margin-bottom: 11px;
    }
  }
  .purchasesProducts {
    margin-top: 2.75rem;
    max-width:  726px;
  }
  .sellingInfo {
    max-width: 550px;
    margin:    0 auto;
    height:    100%;
    padding:   18% 0 10% 0;
    h3, a {
      font-size:      30px;
      line-height:    1.55;
      text-align:     center;
      color:          #000000;
      font-weight:    400;
      letter-spacing: -0.15px;
      margin-bottom:  0;
      a {
        color:           #ff9200;
        font-weight:     bold;
        text-decoration: underline;
      }
    }
  }
  .sellingList {
    max-width:  354px;
    margin-top: 2.75rem;
    .listItem {
      border-radius:   9px;
      border:          solid 2px rgba(0, 0, 0, 0.2);
      display:         flex;
      justify-content: space-between;
      padding:         1rem 10% 1rem 1rem;
      margin-bottom:   11px;
      .image {
        width: 40%;
        img {
          height:     100%;
          object-fit: cover;
        }
      }
      .description {
        width: 56%;
        h6 {
          line-height: 1.38;
        }
      }
      .itemInfo {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
      }
    }
  }
  .membershipStarter {
    margin-top: 15.5%;
  }
  .membershipPremium {
    margin-top: 1rem;
    a {
      font-weight: bold;
    }
  }
  .membershipTitle {
    margin-top: 4.25rem;
    h3 {
      span {
        font-weight: 700;
        color:       $mainColor;
      }
    }
  }
  .membershipHistory {
    margin-top:    3.5rem;
    padding:       2rem;
    border-radius: 9px;
    border:        solid 2px rgba(0, 0, 0, 0.2);
    max-width:     425px;
    h5 {
      font-weight:   bold;
      margin-bottom: 2rem;
    }
    .list {
      li {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        padding:         0.75rem 0;
        .price {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .account {
    padding: 71px 0;
    .sellingInfo {
      max-width: 560px;
      h3, a {
        font-size: 26px;
      }
    }
  }

}

@media screen and (max-width: 567px) {
  .account {
    padding: 30px 0;
    .content {
      .title {
        text-align: center;
      }
    }
    .sellingInfo {
      max-width: 400px;
      padding:   12% 0 6% 0;
      h3, a {
        font-size: 20px;
      }
    }
    .membershipTitle {
      margin-top: 2rem;
    }
    .membershipStarter {
      margin-top: 0;
    }
    .membershipHistory {
      margin-top: 1.5rem;
    }
  }
}