@import "./variables";

.marketplace {
  .marketplaceInner {
    display:         flex;
    align-items:     stretch;
    justify-content: space-between;
    padding:         0;
  }
  .filters {
    padding:      1.15rem 0.9rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    max-width:    372px;
    min-width:    282px;
    width:        24%;
  }
  .products {
    flex:    1 0 auto;
    padding: 4.5rem 1.5rem 0 3rem;
  }
  .productsItems {
    margin-bottom: 0.5rem;
  }
  .premium {
    margin-top: 1.5rem;
    padding:    0;
    position:   relative;
    > a {
      display:   none;
      position:  absolute;
      z-index:   1;
      left:      50%;
      top:       50%;
      transform: translate(-50%, -50%);
      width:     90%;
      min-width: auto;
      max-width: 400px;
    }
    *:not(a) {
      filter: blur(4px);
    }
  }
  .addMobile, .addDesktop {
    margin:           2.5rem 2rem;
    display:          flex;
    justify-content:  center;
    align-items:      center;
    width:            230px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align:       center;
    padding:          3rem 0;
    h1 {
      margin-bottom: 0;
    }
  }
  .addMobile {
    display: none;
    width:   100%;
    margin:  1rem 0;
  }
}

@media screen and (max-width: 1200px) {
  .marketplace {
    .addDesktop {
      display: none;
    }
    .addMobile {
      display: flex;
    }
  }
}


@media screen and (max-width: 786px) {
  .marketplace {
    .marketplaceInner {
      flex-direction: column;
      padding-top:    1.35rem;
    }
    .filters {
      width:     100%;
      max-width: 100%;
      padding:   0;
      border:    solid 1px #c4c4c4;
      h5 {
        padding:       0.5rem;
        text-align:    center;
        margin-bottom: 0;
        font-weight:   bold;
        span {
          position: relative;
          &:before {
            content:      '';
            position:     absolute;
            right:        -1rem;
            top:          44%;
            width:        0.5rem;
            height:       0.5rem;
            border-top:   2px solid $blackColor;
            border-right: 2px solid $blackColor;
            transform:    translate(100%, -50%) rotate(135deg);
          }
        }

      }
    }
    .products {
      padding: 0;
    }
    .premium {
      > a {
        display: block;
      }
    }
  }
}

