@import "./variables";

.product {
  flex:           1 0 auto;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 8px;
  }
  .productInner {
    padding:         2.25% 1rem 2rem 1rem;
    width:           100%;
    display:         flex;
    flex-wrap:       wrap;
    align-items:     flex-start;
    justify-content: space-between;
    button {
      width: 100%;
    }
  }
  .breadCrumbs {
    text-decoration: none;
    padding-left:    2.5rem;
    position:        relative;
    margin-bottom:   2rem;
    display:         inline-block;
    width:           100%;
    &:before {
      content:         '';
      position:        absolute;
      left:            0;
      top:             50%;
      transform:       translate(0, -50%) rotate(-180deg);
      background:      url("../public/icons/right-arrow.svg") center center no-repeat;
      background-size: contain;
      width:           1rem;
      height:          1rem;
    }
  }
  .productLeft {
    width: 47.5%;
  }
  .productRight {
    width:         39%;
    padding-right: 4%;
    .payPal {
      margin-top:    1rem;
      margin-bottom: 0.5rem;
      border-radius: 9px;
      border:        solid 2px rgba(0, 0, 0, 0.2);
      padding:       1.5rem 0.5rem 1.5rem 1rem;
      display:       flex;
      align-items:   flex-start;
      h6 {
        font-size: 1.125rem;
      }
      img {
        width:        2rem;
        margin-right: 1rem;
      }
    }
    .report {
      padding-left: 0;
    }
  }
  .addMobile, .addDesktop {
    margin:           6rem 0 1rem 0;
    width:            100%;
    height:           283px;
    background-color: rgba(0, 0, 0, 0.2);
    display:          flex;
    align-items:      center;
    justify-content:  center;
  }
  .addMobile {
    display: none;
  }
  .buttons {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    margin-top:      1.5rem;
    margin-bottom:   3rem;
    button, h3 {
      margin-bottom: 0;
    }
    button {
      margin-left: 0.5rem;
      max-width:   195px;
      min-width:   auto;
      padding:     6px 12px;
    }
  }
  .seller {
    display:     flex;
    flex-wrap:   wrap;
    align-items: flex-end;
    > h6 {
      width:     100%;
      font-size: 1.125rem;
    }
    .image {
      width:        46px;
      margin-right: 0.5rem;
      display:      flex;
    }
    .info {
      margin-right: 0.8rem;
      a {
        font-size: 0.75rem;
      }
    }
    .links {
      a {
        font-weight: bold;
      }
      img {
        width:       17px;
        margin-left: 0.5rem;
      }
    }
  }
  &.checkout {
    .productInner {
      padding: 6.25% 1rem 2rem 1rem;
    }
    .productLeft {
      width:        39.75%;
      padding-left: 6%;
      h3 {
        margin-top: 3rem;
      }
    }
    .productRight {
      width:         46.5%;
      padding-right: 6%;
      .checkout {
        border-radius: 9px;
        border:        solid 1.9px rgba(0, 0, 0, 0.2);
        padding:       5% 6%;
      }
      h3 {
        padding-left: 1rem;
      }
    }
    .buttons {
      margin-bottom: 1rem;
      h3 {
        margin-top: 0;
      }
    }
    .continue {
      padding:      0.5rem;
      background:   #0092d9;
      border-color: #0092d9;
      color:        $whiteColor;
      min-width:    100%;
    }
    .success {
      h3, p {
        padding-left: 2rem;
      }
      .shopping {
        min-width: 100%;
        font-size: 1rem;
        margin:    2rem 0;
      }
      .shopping:last-child {
        margin: 1rem 0 0 0;
      }
      a {
        font-weight: bold;
      }
      .save {
        margin-bottom: 33%;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .product {
    h1 {
      margin-bottom: 15px;
    }
    .productInner {
      padding:        3.75% 1rem 1rem 6.5%;
      flex-direction: column;
    }
    .productLeft {
      width: 100%;
    }
    .productRight {
      width:         100%;
      padding-right: 0;
      padding-top:   2.5rem;
      .payPal {
        padding: 1rem;
      }
    }
    .buttons {
      margin-bottom: 1.5rem;
      h3 {
        font-size: 28px;
      }
      button {
        padding: 11px 12px;
      }
    }
    .seller {
      .links {
        display:        flex;
        align-items:    center;
        flex-direction: column-reverse;
      }
    }
    .addMobile {
      display: flex;
      height:  173px;
      margin:  1.5rem 0 0 0;
    }
    .addDesktop {
      display: none;
    }
    &.checkout {
      .productLeft {
        width:        100%;
        padding-left: 0;
      }
      .productRight {
        width:         100%;
        padding-right: 0;
      }
      .success {
        h3, p {
          padding-left: 0;
        }
        .shopping {
          margin: 1rem 0;
        }
        .save {
          margin-bottom: 13%;
        }
      }
    }
  }
}

