@import "./variables";

.marketplace {
  .marketplaceInner {
  }
  .filters {
    padding:      1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width:        100%;
    max-width:    372px;
  }
}

@media screen and (max-width: 768px) {
}

