@import "../../../styles/variables";

.popupRight {
  width: 100%;
  h1 {
    margin-bottom:   0.5rem;
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    width:           100%;
  }
  h3 {
    padding-left: 0.75rem;
    span {
      opacity:     0.5;
      font-weight: normal;
    }
  }
  .continue {
    width:      100%;
    margin-top: 1.75rem;
  }
}
